In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("hdata.csv")

In [3]:
housing.head()

                                                                                                                                                        Table 1
No X1 transaction date X2 house age X3 distance to the nearest MRT station X4 number of convenience stores X5 latitude X6 longitude  Y house price of unit area
1  2012.917            32           84.87882                               10                              24.98298    121.54024                           37.9
2  2012.917            19.5         306.5947                               9                               24.98034    121.53951                           42.2
3  2013.583            13.3         561.9845                               5                               24.98746    121.54391                           47.3
4  2013.500            13.3         561.9845                               5                               24.98746    121.54391                           54.8

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 415 entries, ('No', 'X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'X5 latitude', 'X6 longitude') to ('414', '2013.500', '6.5', '90.45606', '9', '24.97433', '121.5431')
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Table 1  415 non-null    object
dtypes: object(1)
memory usage: 68.6+ KB

In [5]:
## housing['X3 distance to the nearest MRT station'].value_counts()

In [6]:
housing.describe()

       Table 1
count      415
unique     271
top       40.6
freq         4

In [7]:
# %matplotlib inline

In [8]:
# import matplotlib.pyplot as plt
# housing.hist(bins=50, figsize = (20 ,15))

In [9]:
# import numpy as np
# def split_train_test(data , test_ratio):
#     np.random.seed(42)
#     shuffled = np.random.permutation(len(data))
#     test_set_size = int(len(data) * test_ratio)
#     test_indices = shuffled[:test_set_size]
#     train_indices = shuffled[test_set_size:]
#     return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
# train_set , test_set = split_train_test(housing , 0.2)

In [11]:
# print(f"rows in train set : {len(train_set)}\nrows in test set:{len(test_set)}")

sickit learsh is started hare  , data analisis was still ongoing

In [12]:
from sklearn.model_selection import train_test_split
train_set , test_set = train_test_split(housing , test_size = 0.2 , random_state = 42)
print(f"rows in train set : {len(train_set)}\nrows in test set:{len(test_set)}")

rows in train set : 332
rows in test set:83

finding correlation

In [14]:
corr_matrix = housing.corr()
corr_matrix['X2 house age'].short_values(ascending = False)

ValueError: could not convert string to float: 'Y house price of unit area'